@import '../variables';
@import '../mixins';
@import '../utils';

.about {
    padding-top: 20rem;
    padding-bottom: 20rem;
    overflow: hidden;

    &__section01 {

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;

        @include respond(laptop-small-2) {
            flex-direction: column-reverse;
            gap: 8rem;
        }


        &_content {

            display: flex;
            flex-direction: column;
            gap: 4rem;

            &-heading {
                &--text {

                }
                &--underline {
                    
                }
            }
            &-text {

            }
            &-banner {
                border-radius: 2rem;
            }
        }

        &_illustration {

            position: relative;

            &-skeleton {
                height: 70rem;
                width: auto;
                mix-blend-mode: lighten;
                opacity: 0.8;
                animation: OpacityPulseAnimation_03 5s ease-in-out infinite alternate-reverse;

                @include respond(laptop-large) {
                    height: 60rem;
                }
                @include respond(laptop) {
                    height: 50rem;
                }
                @include respond(laptop-small-2) {

                }
            }
            &-logo {
                @include absolute-center;
                width: 30rem;
                height: auto;

                @include respond(laptop-large) {
                    width: 25rem;
                }
                @include respond(laptop) {
                    width: 20rem;
                }
            }
        }
    }

    &__section02 {

        margin-top: 20rem;
        position: relative;
        display: flex;
        flex-direction: column;
        
        @include respond(laptop-small-2) {
            margin-top: 10rem;
        }

        &_text01 {
            text-align: right;
            margin-left: auto;
            margin-bottom: 10rem;
            width: 50%;

            @include respond(laptop-small-2) {
                width: 90%;
            }
            @include respond(tablet-small-1) {
        
            }
            @include respond(phone) {
                width: 95%;
            }
        }

        &_heading01 {
            font-size: 3.6rem;
            text-align: left;
            margin-right: auto;
            margin-bottom: 2rem;
            width: 50%;

            @include respond(laptop-small-2) {
                width: 70%;
            }
        }
        &_text02 {
            margin-right: auto;
            width: 50%;
            white-space: nowrap;

            @include respond(laptop-small-2) {
                width: 70%;
            }
            @include respond(tablet-small-1) {
                white-space: initial;
                width: 100%;
            }
        }
    }

    &__section03 {

        margin-top: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        flex-direction: column-reverse;

        @include respond(laptop-small-2) {
            flex-direction: column-reverse;
            gap: 8rem;
        }

        &_videobox {
            width: 100rem;
            height: auto;
            overflow: hidden;
            border-radius: 20px;

            @include respond(laptop-small-2) {
                width: 100rem;width: 100%;
            }

            &-video-source {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_heading {

            text-align: center;


            @include respond(laptop-small-2) {

            }

            &-text {

            }
            &-underline {

            }
            &-description {

            }
        }
    }
}