@import '../variables';
@import '../mixins';
@import '../utils';

.about {
    padding-top: 12rem;
    padding-bottom: 20rem;
    overflow: hidden;

    &__background_skeleton {
        // display: none;
        position: fixed;
        z-index: -5;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60rem;
        width: auto;
        opacity: 0.01;
        animation: OpacityPulseAnimation_05 5s ease-in-out infinite alternate-reverse;
    }

    &__section01 {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 5rem;

        @include respond(laptop-small-2) {
            gap: 5rem;
        }


        &_content {

            display: flex;
            flex-direction: column;
            gap: 4rem;

            text-align: center;

            &-heading {
                &--text {

                }
                &--underline {
                    
                }
            }
            &-text01 {

            }
            &-text02 {

            }
            &-banner {
                margin-right: auto;
                margin-left: auto;
                margin-top: 5rem;
                border-radius: 2rem;
                width: 60% !important;
                height: auto;

                @include respond(laptop-small-2) {
                    width: 90% !important;
                }
            }
        }

        &_illustration {

            position: relative;

            &-skeleton {
                height: 32rem;
                width: auto;
                mix-blend-mode: lighten;
                opacity: 0.8;
                animation: OpacityPulseAnimation_03 2.5s ease-in-out infinite alternate-reverse;

                @include respond(laptop-large) {
                    height: 60rem;
                }
                @include respond(laptop) {
                    height: 50rem;
                }
                @include respond(laptop-small-2) {
                    height: 40rem;
                }
            }
            &-logo {
                @include absolute-center;
                width: 30rem;
                height: auto;

                @include respond(laptop-large) {
                    width: 25rem;
                }
                @include respond(laptop) {
                    width: 20rem;
                }
            }
        }
    }


    &__section02 {

        margin-top: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        flex-direction: column-reverse;

        @include respond(laptop-small-2) {
            flex-direction: column-reverse;
            gap: 8rem;
        }

        &_videobox {
            width: 100rem;
            height: auto;
            overflow: hidden;
            border-radius: 20px;

            @include respond(laptop-small-2) {
                width: 100%;
            }

            &-video-source {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_heading {

            text-align: center;


            @include respond(laptop-small-2) {

            }

            &-text {

            }
            &-underline {

            }
            &-description {

            }
        }
    }
}