@import '../variables';
@import '../mixins';
@import '../utils';


.contact {

    padding-top: 20rem;
    padding-bottom: 20rem;

    &__content {

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;

        &_logo {
            width: 25rem;
            height: auto;
        }

        &_heading {

            text-align: center;

            &-text {

            }
            &-underline {

            }
        }

        &_info {

            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            text-align: center;

            &-name {

            }

            &-item {

                display: flex;
                align-items: center;
                gap: 2rem;

                &--icon {
                    height: 3.5rem;
                    width: auto;

                    @include respond(laptop-small-2) {
                        height: 3rem;
                    }
                }
                &--text {

                }
            }
        }

        &_button01 {
            margin-top: 5rem;
        }
        &_button02 {
            margin-top: 5rem;
        }

        &_text01 {
            margin-top: 5rem;
        }

        &_qr {
            margin-top: 5rem;
            width: 30rem;
            height: auto;
        }

        &_text02 {
            
        }
    }
}