// HOME PAGE

@import '../variables';
@import '../mixins';
@import '../utils';


.hero {
    position: relative;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    &__illustration {

        position: relative;
        width: 24rem;
        height: 24rem;

        &_symbol {
            @include absolute-center;
            height: 115%;
            width: auto;
        }
        &_stroke {
            @include absolute-center;
            height: 100%;
            width: auto;
        }
    }

    &__infinite-text {
        
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateX(0) translateY(-50%);
        font-size: 3.6rem;
        font-weight: 400;
        letter-spacing: 1px;
        color: white;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: 4rem;
        width: auto;
        white-space: nowrap;
        animation: InfiniteMoveX 10s linear infinite forwards;

        &_item {

        }
        &_dot {
            width: 1rem;
            height: 1rem;
            background-color: var(--color-white);
            border-radius: 1000px;
        }
    }

    &__button {
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__spine-illustration-left {
        position: absolute;
        z-index: -5;
        mix-blend-mode: lighten;
        opacity: 0.2;
        bottom: -10%;
        left: -10%;
        width: 85rem;
        height: auto;
        transform: rotate(-10deg) scaleX(-1);
    }
    &__spine-illustration-right {
        position: absolute;
        z-index: -5;
        mix-blend-mode: lighten;
        opacity: 0.35;
        bottom: -10%;
        right: -10%;
        width: 85rem;
        height: auto;
        transform: rotate(10deg);
    }
}