
// NavBar
.navbar {

    position: fixed;
    z-index: 100;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logobox {

        position: relative;

        &_symbol {
            width: auto;
            height: 6rem;
        }
    }

    &__options {

        margin-left: 11.5rem;
        display: flex;
        align-items: center;
        gap: 12rem;
        color: var(--color-white);
        transition: all .6s cubic-bezier(0.65, 0, 0.35, 1);

        @include respond(tablet-small-1) {
            flex-direction: column;
            justify-content: center;
            gap: 4rem;
            position: absolute;
            // z-index: 1;
            top: -80%;
            left: 110%;
            background-color: var(--color-dark);
            height: 100vh;
            width: 70vw;
            padding: 3rem;
        }

        &_option {

            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;

            &:hover {

                .underline {
                    width: 10rem;
                    height: 1px;
                    background-color: var(--color-white);
                    border-radius: 1000px;
                }
            }

            &-text {

                transition: all .6s cubic-bezier(0.65, 0, 0.35, 1);
                
                &:hover {
                    letter-spacing: 1.5px;
                }
            }
        }
    }

    &__contact {
        
        border: 1px solid var(--color-white);
        padding: 2rem 5rem;
        border-radius: 1000px;
        transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);

        &:hover {
            background-color: var(--color-white);

            .navbar__contact_text {
                color: var(--color-dark);
            }
        }

        &_text {
            text-align: center;
            font-weight: 600;
            color: var(--color-white);
            transition: all .6s cubic-bezier(0.33, 1, 0.68, 1);
        }
    }

    
    &__expand-btn {

        display: none;
        position: relative;
        width: 5rem;
        height: 5rem;
        background-color: rgba(255, 255, 255, 0);
        border-radius: 0;
        overflow: hidden;
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);

        @include respond(tablet-small-1) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_iconbox {

            position: relative;
            width: 70%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 6px;
            transition: all .3s ease-out;

            &:hover {
                gap: 8px;
            }

            &-bar {

                width: 100%;
                height: 2px;
                background-color: var(--color-white);

                &--1 {
                    width: 75%;
                }
                &--2 {

                }
                &--3 {
                    width: 75%;
                }
            }
        }
    }
}



.underline {

    width: 0;
    height: 0;
    background-color: var(--color-white);
    border-radius: 1000px;
    transition: all .6s cubic-bezier(0.65, 0, 0.35, 1);
}


// Active-Page-Stylers
.active-page-nav {
    font-weight: 600;
}
.active-page-underline {
    width: 10rem;
    height: 1px;
    background-color: var(--color-white);
    border-radius: 1000px;
}
.active-contact-page-btn {
    background-color: var(--color-white) !important;
}
.active-contact-page-text {
    color: var(--color-dark) !important;
}

// Mobile Menu Expander
.show-mobile-menu {
    transform: translateX(-105%);
}

// Hide Full Navbar
// .navbar-hidden {
//     transform: translate(-50%, -150%) !important;
//     @include respond(tablet-small-1) {
//         transform: translate(-50%, 0) !important;
//     }
// }