// ANIMATIONS

@keyframes Float_Up_Down_Hero_01 {
  0%, 100% {
    transform: rotate(-10deg) scaleX(-1) translateY(-3rem);
  }
  50% {
    transform: rotate(-10deg) scaleX(-1) translateY(3rem);
  }
}
@keyframes Float_Up_Down_Hero_02 {
  0%, 100% {
    transform: rotate(10deg) translateY(-3rem);
  }
  50% {
    transform: rotate(10deg) translateY(3rem);
  }
}


@keyframes InfiniteMoveX {

  0% {
    transform: translateX(0) translateY(-50%);
  }
  20% {

  }
  40% {

  }
  50% {

  }
  51% {

  }
  60% {

  }
  99.999999999% {
    transform: translateX(calc(-100% / 3)) translateY(-50%);
  }
  100% {
    transform: translateX(0) translateY(-50%);
  }

}



@keyframes KeepRotatingAnimationRandomly_01 {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
@keyframes KeepRotatingAnimationRandomly_02 {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  75% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg);
  }
}



@keyframes OpacityPulseAnimation_01 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes OpacityPulseAnimation_02 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
}
@keyframes OpacityPulseAnimation_03 {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
}
@keyframes OpacityPulseAnimation_04 {
  0%, 100% {
    opacity: 0.02;
  }
  50% {
    opacity: 0.15;
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes FadeInNav {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}