@import './variables';
@import './utils';
@import './mixins';
@import './animations';
@import './media-query-manager';


h1 {

}

h2 {

}

p {

}

a {
    display: inline-block;
    text-decoration: none;

    &:hover {

    }
}

.bold {
    font-weight: 700;
}