@import './variables';
@import './utils';
@import './mixins';
@import './animations';
@import './media-query-manager';


h1 {
    text-transform: uppercase;
    color: var(--color-white)
}

h2 {
    text-transform: uppercase;
    color: var(--color-white)
}

p {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    line-height: 2
}

a {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;

    &:hover {

    }
}

.heading {

    &-text {
        font-size: 4.2rem;
        color: var(--color-white);
        font-weight: 600;
    }
    &-underline {
        display: inline-block;
        width: 10rem;
        height: 1px;
        background-color: var(--color-white);
    }
}

.bold {
    font-weight: 700;
}
.bolder {
    font-weight: 900;
}