@import './media-query-manager';


// BASIC USEFUL
.display-none {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}
.display-none {
    display: none;
}
.pos-relative {
    position: relative;
}
.w-full {
    width: 100%;
}
.page-span-big {
    width: 85vw;
}
.page-margins-big {
    margin: 0 20rem;

    @include respond(laptop) {

    }
    @include respond(tablet-small-1) {

    }
    @include respond(phone) {

    }
    @include respond(phone-small-1) {

    }
}
.page-margins-small {
    margin: 0 16rem;

    @include respond(laptop) {

    }
    @include respond(tablet-small-1) {

    }
    @include respond(phone) {

    }
    @include respond(phone-small-1) {

    }
}
.marg-right-small {
    margin-right: 1rem;
}



// Aspect-Ratios
.aspect-1-1 {
    aspect-ratio: 1/1;
}
.aspect-2-1 {
    aspect-ratio: 2/1;
}