@import './media-query-manager';
@import './variables';


// COLORS
.color-primary {
    color: var(--color-primary);
}
.color-secondary {
    color: var(--color-secondary);
}
.color-tertiary {
    color: var(--color-tertiary);
}



// BASIC USEFUL
.display-none {
    display: none;
}
.overflow-hidden {
    overflow: hidden;
}
.display-flex {
    display: flex;
}
.flex-dir-col {
    flex-direction: column;
}
.align-center {
    align-items: center;
}
.justify-center {
    justify-content: center;
}
.pos-relative {
    position: relative;
}
.w-full {
    width: 100%;
}
.page-span-big {
    width: 85vw;

    @include respond(tablet-small-1) {
        width: 95vw;
    }
}
.page-margins-big {
    margin: 0 15rem;

    @include respond(laptop) {

    }
    @include respond(tablet-small-1) {
        margin: 0 10rem;
    }
    @include respond(phone) {

    }
    @include respond(phone-small-1) {

    }
}
.page-margins-small {
    margin: 0 10rem;

    @include respond(laptop) {

    }
    @include respond(tablet-small-1) {
        margin: 0 5rem;
    }
    @include respond(phone) {
        margin: 0 2rem;
    }
    @include respond(phone-small-1) {

    }
}
.marg-right-small {
    margin-right: 1rem;
}



// Aspect-Ratios
.aspect-1-1 {
    aspect-ratio: 1/1;
}
.aspect-2-1 {
    aspect-ratio: 2/1;
}


.white-line {
    position: relative;
    width: 10rem;
    height: 1px;
    background-color: var(--color-white);
}