// variables.scss

// Define variables
:root {

    // Basic Colors
    --color-white: #ffffff;
    --color-black: #000000;
    --color-dark: #282828;
    --color-darker: #181818;

    // Brand Colors
    --color-primary: #E65025;
    --color-secondary: #FF8D6C;
    --color-tertiary: #333333;


    // Other
    --required-red: #FF3131;
}